
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#banner {
  width: 100%;
  font-family: 'Roboto', sans-serif;
  margin-top: 1rem;
}

.banner--container{
  width: 1200px;
  display: flex;
  margin: 0 auto;
}

.category--banner{
  width: 205px;
  height: 376px;
  margin-right: 15px;
  display: block;
  border-radius: 15px;
  overflow: auto;
  box-shadow: 0 1px 2px 0 rgb(60 64 67 / 10%), 0 2px 6px 2px rgb(60 64 67 / 15%);
}

.category--banner__list{
  padding: 7px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.category--banner__link{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
}

.category--banner__link i{
  width: 25px;
  height: 25px;
  margin-right: 5px;
}

.category--banner__link a{
  flex: 1;
  text-decoration: none;
  color: #343a40;
  font-size: 12px;
  font-weight: bold;
}

.icon--right{
  width: 7.5px;
}

.icon--right svg{
  fill: #777;
  font-size: 12px;
}

.slider--banner{
  width: calc(100% - 500px);
  margin-right: 15px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 1px 2px 0 rgb(60 64 67 / 10%), 0 2px 6px 2px rgb(60 64 67 / 15%);
  height: 375px;
}

.slider--banner .mySwiper2{
  height: 80%;
}

.main-banner__slidding-item img{
  width: 100%;
}

.slider--banner .mySwiper{
  height: 20%;
}

.main-banner__navigation-item p{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-slide-thumb-active{
  border-bottom: 2.5px solid #d70018;
  font-weight: 700;
  color: #343a40;
}

.main-banner__navigation-item p{
  font-size: 12px;
  text-align: center;
}

.swiper-button-prev{
  left: -30px;
  width: 30px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0,0,0,.3);
  color: #fff;
  top: 48%;
  transition: .3s;
  outline: none;
  font-size: 14px;
}

.swiper-button-next{
  right: -30px;
  width: 30px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0,0,0,.3);
  color: #fff;
  top: 48%;
  transition: .3s;
  outline: none;
  font-size: 14px;
}

.mySwiper2:hover .swiper-button-prev{
  left: 0;
  transition: left 0.3s ease-in;
}

.mySwiper2:hover .swiper-button-next{
  right: 0;
  transition: right 0.3s ease-in;
}

.swiper-button-next, .swiper-button-prev{
  --swiper-navigation-color: #fff;
}

.image--banner{
  width: 265px;
}

.right--banner{
  height: 115px;
  margin-bottom: 15px;
  overflow: hidden;
  width: 100%;
  display: block;
  border-radius: 10px;
  box-shadow: 0 1px 2px 0 rgb(60 64 67 / 10%), 0 2px 6px 2px rgb(60 64 67 / 15%);
}

.right--banner img{
  height: auto;
  max-width: 100%;
}

.horizontal--banner{
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 15px;
}
